In [118]:
import numpy as np
from IPython.display import display
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/pythonai250824/02.04.2025/refs/heads/main/sport_athletes.csv')
df

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016

In [72]:
# 1
# a 
df.rename(columns = {'Weight(kg)': 'max_weight'}, inplace=True)
# b
df.rename(columns = {'Height(cm)' : 'max_height'}, inplace=True)
# c
df.rename(columns = {'Wins' :'max_wins'}, inplace=True)

print('max height:\n')
print(df.groupby('Sport Type')['max_height'].nlargest(1), '\n')

print('lowest weight height:\n')
print(df.groupby('Sport Type')['max_weight'].nsmallest(1), '\n')

print('highest wins:\n')
print(df.groupby('Sport Type')['max_wins'].nlargest(1), '\n')

max height:

Sport Type
Basketball       4     216
Cycling          28    186
Gymnastics       33    160
Soccer           7     187
Swimming         15    200
Tennis           19    188
Track and Field  20    195
Name: max_height, dtype: int64

lowest weight height:

Sport Type
Basketball       2     96
Cycling          28    68
Gymnastics       35    45
Soccer           6     57
Swimming         12    58
Tennis           17    70
Track and Field  23    57
Name: max_weight, dtype: int64

highest wins:

Sport Type
Basketball       0     3
Cycling          26    5
Gymnastics       31    5
Soccer           5     3
Swimming         11    5
Tennis           17    4
Track and Field  20    6
Name: max_wins, dtype: int64

In [10]:
# 2
df.groupby('Sport Type')['Height(cm)'].nlargest(2)

Sport Type
Basketball       4     216
                 3     208
Cycling          28    186
                 27    184
Gymnastics       33    160
                 34    157
Soccer           7     187
                 9     185
Swimming         15    200
                 14    196
Tennis           19    188
                 16    185
Track and Field  20    195
                 21    188
Name: Height(cm), dtype: int64

In [136]:
# 3
# a
groupped = df.groupby(['Sport Type', 'Country']).agg({'Wins': 'max', 'Height(cm)': 'max', 'Weight(kg)': 'max'})
groupped

                             Wins  Height(cm)  Weight(kg)
Sport Type      Country
Basketball      USA             3         216         147
Cycling         Belgium         5         181          72
                Netherlands     4         175          68
                Slovenia        3         186          69
                UK              4         183          71
Gymnastics      Romania         5         155          50
                USA             5         160          52
Soccer          Argentina       2         170          69
                Brazil          3         174          72
                France          3         185          80
                Portugal        2         187          83
                USA             2         168          62
Swimming        Australia       4         196          85
                China           3         200          90
                USA             5         193          88
Tennis          Serbia          4         188          84
                Spain           3         185          85
                Switzerland     2         185          85
                USA             4         175          70
Track and Field Jamaica         6         195          94
                UK              5         176          65
                USA             4         188          81

In [126]:
# a - alternative
df.groupby(['Sport Type', 'Country']).agg({'Wins': 'max'})

                             Wins
Sport Type      Country
Basketball      USA             3
Cycling         Belgium         5
                Netherlands     4
                Slovenia        3
                UK              4
Gymnastics      Romania         5
                USA             5
Soccer          Argentina       2
                Brazil          3
                France          3
                Portugal        2
                USA             2
Swimming        Australia       4
                China           3
                USA             5
Tennis          Serbia          4
                Spain           3
                Switzerland     2
                USA             4
Track and Field Jamaica         6
                UK              5
                USA             4

In [76]:
# b
df.loc[(df['Country'] == 'USA') & (df['Sport Type'] == 'Basketball')].max()

Country                      USA
Sport Type            Basketball
Athlete Name    Shaquille O'Neal
max_height                   216
max_weight                   147
max_wins                       3
Olympic Date          24/08/2012
dtype: object

In [138]:
# c
groupped.xs('Soccer', level = 'Sport Type')
#df.loc[df['Sport Type'] == 'Soccer'].max()

           Wins  Height(cm)  Weight(kg)
Country
Argentina     2         170          69
Brazil        3         174          72
France        3         185          80
Portugal      2         187          83
USA           2         168          62

In [106]:
# d
df[df['Sport Type'].isin(['Tennis', 'Soccer'])].max()

Country                     USA
Sport Type               Tennis
Athlete Name    Zinedine Zidane
max_height                  188
max_weight                   85
max_wins                      4
Olympic Date         28/07/2008
dtype: object

In [152]:
# e
df.swaplevel(i= 'Sport Type', j = 'Country', axis = 1)

TypeError: Can only swap levels on a hierarchical axis.

In [150]:
# f
df.agg({
    'Wins': ['min', 'max', 'mean', 'std'],  
    'Height(cm)': ['min', 'max', 'mean', 'std']})

          Wins  Height(cm)
min   1.000000  142.000000
max   6.000000  216.000000
mean  3.388889  181.333333
std   1.102666   16.568473

In [158]:
# 4
new_rows = pd.DataFrame({ 'Country': ['Canada', 'USA'], 'Sport Type': ['Hockey', 'Skiing'],
'Athlete Name': ['Wayne Gretzky', 'Lindsey Vonn'], 'Height(cm)': [183, 172],
'Weight(kg)': [84, 68], 'Wins': [3, 4], 'Olympic Date': ['01/02/2002', '12/02/2010'] })

pd.concat([df, new_rows], axis=0, ignore_index=False)

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016
0,Canada,Hockey,Wayne Gretzky,183,84,3,01/02/2002
1,USA,Skiing,Lindsey Vonn,172,68,4,12/02/2010

In [164]:
# 5
df_if_smoke = pd.read_csv('https://raw.githubusercontent.com/pythonai250824/02.04.2025/refs/heads/main/athletes_smoking.csv')
#df.merge(df_if_smoke)

login = df
register = df_if_smoke

pd.merge(login, register, on='Athlete Name', how='inner',suffixes=('_login', '_register') )

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date,Smoking
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992,No
1,USA,Basketball,LeBron James,206,113,2,15/08/2008,No
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012,Yes
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016,No
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000,No
5,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008,No
6,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016,Yes
7,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020,No
8,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000,No
9,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016,No
10,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012,No
11,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984,Yes
12,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016,No

In [166]:
pd.merge(login, register, on='Athlete Name', how='outer',suffixes=('_login', '_register') )

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date,Smoking
0,USA,Gymnastics,Aly Raisman,160.0,52.0,3.0,10/08/2012,NaN
1,Netherlands,Cycling,Anna van der Breggen,175.0,68.0,4.0,10/08/2020,NaN
2,USA,Track and Field,Ashton Eaton,185.0,77.0,3.0,08/08/2016,NaN
3,USA,Swimming,Caeleb Dressel,191.0,88.0,3.0,06/08/2016,NaN
4,USA,Track and Field,Carl Lewis,188.0,81.0,4.0,15/08/1984,Yes
5,UK,Cycling,Chris Froome,180.0,70.0,4.0,08/08/2012,NaN
6,Portugal,Soccer,Cristiano Ronaldo,187.0,83.0,2.0,25/08/2008,No
7,Belgium,Cycling,Eddy Merckx,181.0,72.0,5.0,15/08/1980,NaN
8,USA,Track and Field,Florence Griffith,165.0,57.0,4.0,18/08/1988,NaN
9,USA,Gymnastics,Gabby Douglas,150.0,45.0,3.0,11/08/2016,NaN
10,UK,Cycling,Geraint Thomas,183.0,71.0,4.0,08/08/2008,NaN
11,Australia,Swimming,Ian Thorpe,196.0,85.0,4.0,11/08/2000,No
12,USA,Swimming,Katie Ledecky,180.0,58.0,4.0,25/08/2012,NaN
13,USA,Basketball,Kevin Durant,208.0,109.0,3.0,10/08/2016,No
14,USA,Basketball,Kobe Bryant,198.0,96.0,2.0,24/08/2012,Yes
15,USA,Basketball,LeBron James,206.0,113.0,2.0,15/08/2008,No
16,NaN,NaN,Lindsey Vonn,NaN,NaN,NaN,NaN,No
17,Argentina,Soccer,Lionel Messi,170.0,69.0,2.0,11/08/2016,Yes
18,Brazil,Soccer,Marta,163.0,57.0,3.0,01/08/2004,NaN
19,USA,Soccer,Megan Rapinoe,168.0,62.0,2.0,05/08/2020,No
20,USA,Basketball,Michael Jordan,198.0,98.0,3.0,08/08/1992,No
21,USA,Swimming,Michael Phelps,193.0,88.0,5.0,16/08/2004,NaN
22,UK,Track and Field,Mo Farah,176.0,65.0,5.0,05/08/2016,NaN
23,Romania,Gymnastics,Nadia Comaneci,155.0,50.0,5.0,18/08/1976,NaN
24,Serbia,Tennis,Novak Djokovic,188.0,84.0,4.0,10/08/2020,NaN
25,Brazil,Soccer,Pel√©,174.0,72.0,3.0,18/08/1970,NaN
26,Slovenia,Cycling,Primoz Roglic,186.0,68.0,3.0,05/08/2016,NaN
27,Spain,Tennis,Rafael Nadal,185.0,85.0,3.0,05/08/2016,No
28,Switzerland,Tennis,Roger Federer,185.0,85.0,2.0,28/07/2008,NaN
29,USA,Tennis,Serena Williams,175.0,70.0,4.0,01/08/2012,NaN
30,USA,Basketball,Shaquille O'Neal,216.0,147.0,1.0,22/08/2000,No
31,USA,Gymnastics,Shawn Johnson,157.0,50.0,3.0,15/08/2008,NaN
32,USA,Gymnastics,Simone Biles,142.0,48.0,5.0,05/08/2016,No
33,China,Swimming,Sun Yang,200.0,90.0,3.0,08/08/2012,NaN
34,Slovenia,Cycling,Tadej Pogacar,184.0,69.0,3.0,11/08/2020,NaN
35,Jamaica,Track and Field,Usain Bolt,195.0,94.0,6.0,22/08/2012,No
36,NaN,NaN,Wayne Gretzky,NaN,NaN,NaN,NaN,Yes
37,France,Soccer,Zinedine Zidane,185.0,80.0,3.0,17/08/1998,NaN